<%= content_tag :div, "#{image_tag "cancel.png"} #{flash[:error]}", :id => "errorExplanation" unless flash[:error].nil? %>
<div class="loginbox">
	<% form_tag session_path, :id => 'login_form' do -%>
	<table width=100%>
		<tbody>
			<tr>
				<td><label for="login">Login</label></td> 
				<td><%= text_field_tag 'login' %></td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><%= password_field_tag 'password' %></td>
			</tr>
			<tr>
				<td><label for="remember_me">Remember me</label></td>
				<td><%= check_box_tag 'remember_me' %></td>
				</tr>
			<tr>
				<td></td>
				<td>
        	<span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
            <%= submit_tag 'Log In', :id => 'login_button', :class => "ui-button-text" %>
          </span>
				</td>
			</tr>
		</tbody>
	</table>
<% end -%>
</div>