<div id="asshead">
  <table width="100%">
    <tr>
      <td>
        <img src="/images/assy.gif" width=30 height=30 alt="ASS Logo" title="$Id$"> Draft<strong>Day</strong>
      </td>
      <td style="text-align:left;">
        <div id="update_cell"></div>
      </td>
      <td style="text-align:right;">
        <% if logged_in? %>
          <%= "Welcome #{current_user.login} [#{current_user.role}] !" %>
          [<%= link_to "logout", :controller=>'session', :action => 'destroy', :id => current_user %>]<br />
          <%= link_to "Players", :controller => "players" %>
          <%= link_to "Retainees", :controller => 'retainees' %>
          <%= link_to "Picks", :controller => "picks" %>
          <% if is_admin? then -%>
            <%= link_to "Entry", :controller => "entry"  %>
            <%= link_to "Users", :controller => "users" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
</div>