<div id="asshead" class="ui-widget-header off-the-clock">
  <table width="100%">
    <tr>
      <td>
        <img src="/images/assy.gif" width=30 height=30 alt="ASS Logo" id="assy">
		<span class="nav-title"><strong>War</strong>Room</span>
      </td>
      <td style="text-align:left;">
        <div id="update_cell"></div>
      </td>
      <td style="text-align:right;padding-right:1em;">
        <% if logged_in? %>
          <%#= "Welcome #{current_user.login} [#{current_user.role}] !" %>
          <div class="ui-buttonset">
            <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' role="button">
              <span class="ui-button-text"><%= link_to "Players", :controller => "players" %></span>
            </div>
            <% unless draft_started? %>
              <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>
                  <span class="ui-button-text">
                      <%= link_to "Retainees", :controller => 'retainees' %>
                  </span>
              </div>
            <% end %>
            <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>
              <span class="ui-button-text"><%= link_to "Picks", :controller => "picks" %></span>
            </div>
            <% if is_admin? then -%>
              <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>          
                <span class="ui-button-text"><%= link_to "Entry", :controller => "entry"  %></span>
              </div>
              <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>          
                <span class="ui-button-text"><%= link_to "Users", :controller => "users" %></span>
              </div>
              <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>          
                <span class="ui-button-text"><%= link_to "Admin", :controller => "admin" %></span>
              </div>
              <% end %>
              <div class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>
                <span class="ui-button-text">
                <%= link_to "logout", :controller=>'session', :action => 'destroy', :id => current_user %>
                </span>
              </div>
            </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>