<tr>
  <td style="text-align:left;">
    <a href="http://sports.yahoo.com/mlb/players/<%= players.yahoo_ref %>" target="_blank">
      <%= players.player -%>
    </a>
	<%= content_tag :span, players.status, :class => "status" if players.status? -%>
  </td>
  <td><%= players.pos  %></td>
  <td><%= players.team.upcase  %></td>
  <td><%= players.rank  %></td>
  <td><%= players.orank  %></td>
  <td><%= players.R  %></td>
  <td><%= players.HR  %></td>
  <td><%= players.RBI  %></td>
  <td><%= players.SB  %></td>
  <td><%= ba(players.AVG) if (players.AVG!=nil)  %></td>
  <td><%= players.IP  %></td>
  <td><%= players.W  %></td>
  <td><%= players.SV  %></td>
  <td><%= players.K  %></td>
  <td><%= sprintf("%.2f",players.ERA) if (players.ERA!=nil) %></td>
  <td><%= sprintf("%.2f",players.WHIP) if (players.WHIP!=nil)  %></td>
  <% if players.unretainable -%>
	<td class="unretainable" style="text-align:center;"><%= image_tag "cross.png" -%></td>
  <% else -%>
	  <% if @retained_pool.include?(players.id) -%>
		  <td><a href="#"><img src="/images/delete.png" id="<%= players.id.to_s %>-nonRetainee" class="removeRetaineeButton" border=0></a></td>
	  <% else -%>
		  <td><a href="#" border=0><img src="/images/add.png" id="<%= players.id.to_s %>-nonRetainee" class="addRetaineeButton" border=0></a></td>
	  <% end -%>
  <% end -%>
</tr>