<div class="inner">
	<h1>2010 <%= @user.team %> Final Roster</h1>
	<div class="retaineeLegend">
		<p>You may retain 3 batters and 3 pitchers from your previous year's final roster</p>
		<p><%= image_tag "add.png" -%> adds players to your retainee list</p>
		<p><%= image_tag "delete.png" -%> removes players to your retainee list</p>
		<p><%= image_tag "cross.png" -%> denotes players that cannot be retained</p>	
	</div>
</div>
<div id="nonRetainee" class="inner">
  <table id="nonRetainedPlayers" class="nonretaineeBox" cellpadding=0 cellspacing=0 width=100%>
	  <thead>
	    <tr>
	      <th align="left">Player</th>
	      <th>Pos</th>
	      <th>Team</th>
	      <th>Rank</th>
	      <th>O-Rank</th>
	      <th>R</th>
	      <th>HR</th>
	      <th>RBI</th>
	      <th>SB</th>
	      <th>AVG</th>
	      <th>IP</th>
	      <th>W</th>
	      <th>SV</th>
	      <th>K</th>
	      <th>ERA</th>
	      <th>WHIP</th>
		  <th></th>
	    </tr>
	  </thead>
	  <tbody> 
		<%= render :partial => "players", :collection => @players unless @players.nil? %>
	  </tbody>
  </table>

</div>

<div id="retainee" class="inner">
  <span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only sidebar-header" ><span class="ui-button-text">Retainees</span></span>	
	<ol id="retainedPlayers" class="retaineeBox">
		    <%= render(:partial => "selectedPlayers", :collection => @retainees) unless @retainees.nitems < 1 %>
	</ol>
	<div id="retaineeComplete" style="width: 95%;text-align:center;">
	  <span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
  		<%= link_to "Done", retainees_path, :class => "ui-button-text" %>
    </span>
	</div>
	<div id="retainee-instructions">
	  <p>
	  </p>
	</div>
</div>

<div id="retaineeFailDialog"><p>You cannot retain this player.</p><p>You are either over the limit for total retainees or over the limit for retainees of this particular type (pitcher or batter).</p><p><strong>Please remove a retainee</strong> from your list and then try to retain this player.</p></div>
