<div id="nonRetainee">
  <h1>2009 <%= @user.team %> Final Roster</h1>
  <table id="nonRetainedPlayers" class="nonretaineeBox" cellpadding=0 cellspacing=0 >
	  <thead>
	    <tr>
	      <th align="left">Player</th>
	      <th align="center">Pos</th>
	      <th align="center">Team</th>
	      <th align="center">Rank</th>
	      <th align="center">O-Rank</th>
	      <th align="right">R</th>
	      <th align="right">HR</th>
	      <th align="right">RBI</th>
	      <th align="right">SB</th>
	      <th align="right">AVG</th>
	      <th align="right">IP</th>
	      <th align="right">W</th>
	      <th align="right">SV</th>
	      <th align="right">K</th>
	      <th align="right">ERA</th>
	      <th align="right">WHIP</th>
		  <th align="center"></th>
	    </tr>
	  </thead>
	  <tbody> 
		<%= render :partial => "players", :collection => @players unless @players.nil? %>
	  </tbody>
  </table>
	<div class="retaineeLegend">
		<p><%= image_tag "add.png" -%> adds players to your retainee list</p>
		<p><%= image_tag "delete.png" -%> removes players to your retainee list</p>
		<p><%= image_tag "cross.png" -%> denotes players that cannot be retained</p>	
	</div>

</div>

<div id="retainee">
  <h3 class="fg-warroom-button ui-state-default ui-priority-secondary ui-corner-all" style="margin-top:5px;">Retainees</h3>	
	<ol id="retainedPlayers" class="retaineeBox">
		    <%= render(:partial => "selectedPlayers", :collection => @retainees) unless @retainees.nitems < 1 %>
	</ol>
	<div id="retaineeComplete">
		<p style="text-align:center;">
		<%= link_to "Done", retainees_path, :class => "fg-warroom-button ui-state-default ui-priority-secondary ui-corner-all" %>
		</p>
	</div>
	<div id="retainee-instructions">
	  <p>
	    You may retain 3 batters and 3 pitchers from your previous year's final roster.
	  </p>
	</div>
</div>

