<h1>All Retainees</h1>
<table width="100%" id="retaineesTable">
	<thead>
	  <tr>
	    <th>Team</th>
	    <th>Player</th>
	    <th>Pos</th>
		<th>Team</th>
	    <th>ID</th>
	  </tr>
	</thead>
	<tbody>
	<% unless @retainees.empty? %>
		<% for retainee in @retainees %>
		  <tr>
		    <td><%=h retainee.user.team %></td>
		    <td><%=h retainee.player.player %></td>
		<td><%= retainee.player.team %></td>
		    <td><%=h retainee.player.pos %></td>
		    <td><%=h retainee.player.id %></td>
		  </tr>
		<% end %>
	<% end %>
	</tbody>
</table>

<br />

<h3 class="fg-warroom-button ui-state-default ui-priority-secondary ui-corner-all" style="margin-top:5px;"><%= link_to 'Set Your Retainees', :action => 'edit', :id => current_user %></h3>	
