<h1>Listing retainees</h1>

<table>
  <tr>
    <th>User</th>
    <th>Player</th>
  </tr>

<% for retainee in @retainees %>
  <tr>
    <td><%=h retainee.user.team %></td>
    <td><%=h retainee.player.player %></td>
    <td><%= link_to 'Show', retainee %></td>
    <td><%= link_to 'Edit', edit_retainee_path(retainee) %></td>
    <td><%= link_to 'Destroy', retainee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New retainee', new_retainee_path %>
