<% unless @watchlist.nil? -%>
	<% if @my_pick %>
		<span class="watchlistPlayer"><%= watchlist.player.player %> (<%= watchlist.player.pos %>)<%=  link_to image_tag("user_add.png", :size => "16x16", :id => watchlist.player.id, :class => "watchlistPlayerIcon"), "#" %></span><br>
	<% else %>
		<span><%= watchlist.player.player %> (<%= watchlist.player.pos %>)</span><br>
	<% end %>
<% end %>