<table width="100%">
  <tr valign="top">
    <td width="75%">
      <%= render :partial => 'shared/positionSearchBar' %>
      <%= render :partial => 'shared/teamSearchBar' %>
      <%= render :partial => 'shared/franchiseSearchBar', :object => @teams unless @teams.nil?  %>
    </td>
    <td>
      <label for="searchtext"><font size="1"><b>Search:</b></font></label>
      <%= text_field_tag 'searchtext' %>
      <img alt="spinner" id="spinner" src="/images/ajax-loader.gif" style="display:none;" />
    </td>
  </tr>
</table>

<div id="search_hits" class="two-thirds-right" >
  <%=  render :partial => "search" %>
</div>

<%= observe_field('searchtext',
  :frequency => 1,
  :update => :search_hits,
  :loading => "Element.show('spinner')",
  :complete => "Element.hide('spinner')",
  :url => { :action => :searchbyname },
  :with => 'searchtext' )
%>

  <div class="one-third">
    <div class="title">Pick Order</div>
    <div id="inline">
      <%= render :partial => "picks/inline" %>
    </div>
    <div class="title">Draft Results</div>
    <div id="draft_live">
      <%= render :partial => "picks/scrolldraft" %>
    </div>
  </div>
  <%= periodically_call_remote :url => {:controller => 'picks', :action => 'inline'},
    :update => :inline,
    :frequency => 25,
    :condition => 1,
    :complete => visual_effect(:highlight, 'inline')
%>

  <%= periodically_call_remote :url => {:controller=> 'picks', :action => 'scrolldraft'},
    :update => :draft_live,
    :frequency => 30,
    :condition => 1,
    :complete => visual_effect(:highlight, 'draft_live')
%>