<table id="baseball-diamond">
  <tr>
    <td>SS: <%= @SS %> </td>
    <td style="text-align:center;"> <%= @B2  %> </td>
    <td style="text-align: right;">OF: <%= @OF %> </td>
  </tr>
  <tr>
    <td style="text-align:right;"> <%= @B3  %> </td>
    <td><%= image_tag('diamond.gif', :size => '73x74') %></td>
    <td style="text-align:left;"> <%= @B1 %> </td>
  </tr>
  <tr>
    <td>SP: <%= @SP %> </td>
    <td style="text-align: center;"><%= @C %></td>
    <td>RP: <%= @RP %></td>
  </tr>
</table>