<table id="baseball-diamond" style="vertical-align:bottom;">
 <tr>
   <td style="text-align:right;">SS: <%= @myTeamCount['SS'] %> </td>
   <td style="text-align:center;"> <%= @myTeamCount['2B']  %> </td>
   <td style="text-align: left;">OF: <%= @myTeamCount['OF'] %> </td>
 </tr>
 <tr>
   <td>&nbsp;</td>
   <td rowspan="3"><%= image_tag('diamond.gif', :size => '73x74') %></td>
   <td>&nbsp;</td>
 </tr>
 <tr>
   <td style="text-align:right;"> <%= @myTeamCount['3B']  %> </td>
   <td style="text-align:left;"> <%= @myTeamCount['1B'] %> </td>
 </tr>
 <tr>
   <td style="vertical-align:bottom;">RP: <%= @myTeamCount['RP'] %>/2 </td>
   <td style="vertical-align:bottom;">P: <%= @myTeamCount['P'] %>/7</td>
 </tr>
 <tr>
   <td>SP: <%= @myTeamCount['SP'] %>/2 </td>
   <td style="text-align: center;"><%= @myTeamCount['C'] %></td>
   <td>Tot: <%= @myTeamCount['Total'] %>/24 </td>
 </tr>
</table>