<table id="baseball-diamond">
  <tr>
    <td style="text-align:right;">SS: <%= @SS %> </td>
    <td style="text-align:center;"> <%= @B2  %> </td>
    <td style="text-align: right;">OF: <%= @OF %> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td rowspan="3"><%= image_tag('diamond.gif', :size => '73x74') %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:right;"> <%= @B3  %> </td>
    <td style="text-align:left;"> <%= @B1 %> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>P: <%= @P %>/7 </td>
  </tr>
  <tr>
    <td>SP: <%= @SP %>/2 </td>
    <td style="text-align: center;"><%= @C %></td>
    <td>RP: <%= @RP %>/2</td>
  </tr>
</table>