<table id="draftboard" cellspacing=0>
	<!-- <thead><tr><th></th><th></th><th></th></tr></thead> -->
	<tbody>
		<% unless @pick_current.nil? %>
			<tr>
				<td></td>
				<td class="draftboardPickNumber"><%= @pick_current.pick_number %></td>
				<td class="draftboardCurrentPickDetails"><%= @pick_current.user.team %> on clock</td>
			</tr>		
		<% end %>
	<% for p in @picks %>
		<tr>
			<td class="draftboardPlayerPic"><%= player_picture(p.player.yahoo_ref) %></td>
			<td class="draftboardPickNumber"><%= p.pick_number%></td>
			<td class="draftboardCurrentPickDetails">
				<span class="draftboardCurrentPickName">
				<%= p.player.player %>
				</span><br />
				<%= p.user.team %> / <%= p.player.pos %> / <%= p.player.team %>
			</td>
		</tr>
	<% end %>
</tbody></table>
