<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>WarRoom: <%= controller_name.upcase %></title>
    <%= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.1.custom', 'data_table_jui' , 'ColVis', 'application', :cache => true %>
    <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.1.custom.min', 'jrails', 'jquery.dataTables.min', 'ColVis.min' ,'jquery.livequery', 'jquery.cookie', 'application', :cache => true %>
  </head>
  <body>
	<!-- header -->
    <%= render :partial => 'shared/navigation' %>
	<!-- flash -->
    <%= flash_helper %>
	<!-- body -->
    <%= yield %>
	<!-- footer -->
  </body>
</html>